<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 移动优先，确保适当的绘制和触屏缩放
         width：控制设备的宽度
         initial-scale=1.0确保以1:1比例呈现
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template</title>

    <!-- Bootstrap core css -->
    <link rel="stylesheet" href="<?php echo base_url(); ?>extJS/bootstrap_4/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo base_url(); ?>css/signin.css">
</head>
<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal" name="loginmethod">User sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3 ">
            <table class="table">
                <tr>
                    <td>
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
                    </td>
                    <td>
                        <label>
                            <input type="checkbox" value="Admin" name="loginmethod">Admin Login
                        </label>

                    </td>
                </tr>
            </table>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</body>
<<script type="text/javascript">
     $("input[name=loginmethod][type=checkbox]").change(function()
         {
             if(this.value="Admin")
                 {
                     $("h1[name=loginmethod]").text('User sign in');
                 }
             else
                 {
                     $("h1[name=loginmethod]").text("Admin sign in");
                 }
         })
</script>>
</html>
